@import url('https://fonts.googleapis.com/css?family=Open+Sans');

.container {
  text-align: center;
  margin-top: 50px;

  width: 100%;
}

button {
  font-family: 'Open Sans', sans-serif;
  padding: 10px 20px;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  background: #1664ff;
  border: 1px solid #0b4bed;
  border-radius: 3px;
  box-shadow: 0px 2px 32px 0px rgba(181, 34, 237, 0.9);
}